@import "../variables";


.theme--dark .game-container .game-history {
	position: absolute;
    background: none !important;
}

.theme--dark .game-sidebar .game-sidebar-buttons-container {
    background: #131e23;
}

.theme--dark .game-sidebar .game-sidebar-buttons-container .game-sidebar-buttons-container-button.active {
    background: #203135;
    border-radius: 3px;
}

.multiroulette-button {
    text-shadow: 1px 1px 1px rgb(0 0 0 / 40%);
}

.multiroulette-button-green {
  color: #3bc248!important;
}

.multiroulette-button-red {
  color: #e76376!important;
}

.multiroulette-button-black {
  color: #1c2028!important;
}

.theme--dark .multiroulette-button-black { 
    color: #6c757d!important;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: inherit;
    margin-top: calc(var(--bs-gutter-y)*-1);
    margin-right: calc(var(--bs-gutter-x)/-2);
    margin-left: calc(var(--bs-gutter-x)/-2);
}

.theme--dark .text-success {
  color: !important;
}

.theme--dark .text-danger {
  color: !important;
}

.dropdown-top-menu-content {
  display: none !important;
}

.theme--dark .text-primary {
  color: #ff9900 !important;
}

.theme--dark .bg-success {
  background: !important;
}

.theme--dark .bg-danger {
  background: !important;
}


.theme--dark .primary {
  fill: white;
}

.theme--dark .secondary {
  fill: #ff9900;
}

.game-content-multiroulette {
  display: flex;
  max-width: 1000px !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.game-content-multiroulette .multiroulette_container_line {
	position: absolute;
	z-index: 4;
	background: url(/img/misc/multiroulette.svg) no-repeat center;
	background-size: cover;
	width: 17px;
	height: 100px;
	top: 45%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

.game-content-multiroulette .game-history {
  z-index: 4;
}

.game-content-multiroulette .multiroulette_container {
  position: relative;
  display: flex;
  overflow: hidden;
  width: calc(100% + 22px);
  margin-block: 220px;
}


.game-content-multiroulette .multiroulette_container .multiroulette_container_row {
  display: flex;
  white-space: nowrap;
  flex-wrap: nowrap;
}


.theme--default .game-content-multiroulette .multiroulette_container .multiroulette_container_row .multiroulette_card .multiroulette_card_footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 20%;
  background: url("/img/misc/carbon.png") repeat, linear-gradient(#1d212d, #1a1d28) !important;
  transition: background 0.3s ease;
}

.theme--default .game-content-multiroulette .multiroulette_container .multiroulette_container_row .multiroulette_card .hexagon {
  position: absolute;
  left: 50%;
  width: 70%;
  height: 80px;
  transform: translateX(1%) translateY(-30%);
  font-size: 12px;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.theme--default .game-content-multiroulette .multiroulette_container .multiroulette_container_row .multiroulette_card:last-child {
  margin-right: 0;
}

@-webkit-keyframes flash {
  0%, 50%, 100% {
  opacity: 1;
  }
  
  25%, 75% {
  opacity: 0;
  }
  }
  
  @keyframes flash {
  0%, 50%, 100% {
  opacity: 1;
  }
  
  25%, 75% {
  opacity: 0;
  }
  } 

.theme--dark .game-content-multiroulette .multiroulette_container .multiroulette_container_row .multiroulette_card {
  width: 90px;
  height: 70px;
  display: flex;
  border-radius: 3px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  border: 3px solid #0e1619;
  transition: border-color 0.2s ease-in;
}

.theme--dark .game-content-multiroulette .multiroulette_container .multiroulette_container_row .multiroulette_card.red {
	background: #ff453f;
  border-radius: 10px;
}

.theme--dark .game-content-multiroulette .multiroulette_container .multiroulette_container_row .multiroulette_card.black {
	background: #2a2f30;
  border-radius: 10px;
}

.theme--dark .game-content-multiroulette .multiroulette_container .multiroulette_container_row .multiroulette_card.green {
    background: #35b066;
    border-radius: 10px;
    background-image: url(/img/logo/bigz-icon.svg);
    background-size: 53%;
    background-repeat: no-repeat;
    background-position: center;
}



.theme--dark .game-content-multiroulette .multiroulette_container .multiroulette_container_row .multiroulette_card .multiroulette_card_footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 15%;
  background: url("/img/misc/carbon.png") repeat, linear-gradient(#1d212d, #1a1d28);
  transition: background 0.3s ease;
}

.theme--dark .game-content-multiroulette .multiroulette_container .multiroulette_container_row .multiroulette_card .hexagon {
  position: absolute;
  left: 50%;
  width: 70%;
  height: 80px;
  transform: translateX(1%) translateY(-30%);
  font-size: 12px;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}


.theme--dark .game-content-multiroulette .multiroulette_container .multiroulette_container_row .multiroulette_card:last-child {
  margin-right: 0;
}

.theme--dark .game-content-multiroulette .multiroulette_container .multiroulette_container_row .multiroulette_card.selected {
  border-color: #ffffff36 !important;
  -webkit-animation-name: flash;
  animation-name: flash;
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  }

.theme--dark .game-content-multiroulette .multiroulette_container .multiroulette_container_row .multiroulette_card.selected .multiroulette_card_footer {
  background: url("/img/misc/carbon.png") repeat, linear-gradient(#1d212d, #1a1d28) !important;
}

.game-content-multiroulette .multirouletteCustomHistory {
  position: absolute;
  left: 30px;
  top: 30px;
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 124px;
  z-index: 5;
  width: 45px;
  border-radius: 5px;
  overflow: hidden;
}

	.game-content-multiroulette .multirouletteMultiplayerTable .user {
	  display: flex;
	  flex-direction: row;
	  align-items: center;
	  padding: 5px;
    border-radius: 8px;
	  @include themed() {
            background: lighten(t('body'), 3%);
      }
	  transition: background 0.3s ease;
	  cursor: pointer;
	}

	.game-content-multiroulette .multirouletteMultiplayerTable .user:hover {
	  background: #213237;
	}

	.game-content-multiroulette .multirouletteMultiplayerTable .user:first-child {
	  margin-top: 5px;
	}

	.game-content-multiroulette .multirouletteMultiplayerTable .user:nth-child(even) {
	  @include themed() {
            background: lighten(t('body'), 3%);
      }
	}

	.game-content-multiroulette .multirouletteMultiplayerTable .user:nth-child(even):hover {
	  background: #171f2c !important;
	}

	.game-content-multiroulette .multirouletteMultiplayerTable .user .avatar img {
	  border-radius: 50%;
	  width: 32px;
	  height: 32px;
	}

	.game-content-multiroulette .multirouletteMultiplayerTable .user .name {
	  margin-left: 5px;
	}

	.game-content-multiroulette .multirouletteMultiplayerTable .user .bet {
	  margin-left: auto;
	}
@media (min-width: 991px) {
.game-content-multiroulette .multiroulette-bets {
    display: flex;
    flex-direction: row;
}
}

.game-content-multiroulette .multirouletteMultiplayerTable {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    margin-right: 10px;
}

.multirouletteMultiplayerTable.red {
    border-top: 5px solid #ba2d2d;
}

.multirouletteMultiplayerTable.green {
    border-top: 5px solid #3d863e;
}

.multirouletteMultiplayerTable.black {
    border-top: 5px solid #3f3f3f;
}

.multiroulette-info {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    padding: 15px;
    padding-right: 100px;
    padding-left: 100px;
    transition: background 0.2s ease-in;
    cursor: pointer;
}

.theme--dark .game-content-multiroulette .multirouletteCustomHistory {
  background: #0a0a0b;
}

.game-content-multiroulette .multirouletteCustomHistory .multirouletteCustomHistoryElement {
  padding: 0.955em 0;
  display: flex;
  align-content: center;
  justify-content: center;
  font-size: 0.9em;
  font-weight: 600;
  color: #f2f0f0;
}

.game-content-multiroulette .game-history {
  height: 10px;
  padding: 0 !important;
  position: relative;
  top: 0 !important;
  bottom: unset !important;
}

.game-content-multiroulette .game-history .history-multiroulette {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  will-change: width;
}

.game-content-multiroulette .game-history .history-multiroulette span {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-size: 0.65em;
}

.theme--dark .game-content-multiroulette .game-history .history-multiroulette {
  background: #1957ec;
}

.theme--dark .game-sidebar .game-sidebar-tabs {
  display: none !important;
}


@media (max-width: 1096px) {
.row {
      flex-wrap: wrap !important;
}
}

@media (max-width: 1096px) {

    .game-container {
        .col {
            min-height: 200px !important;
        }

        .col:first-child {
            order: 1;
            flex: 0 0 100% !important;
            margin-top: 15px;
            margin-bottom: -10px;
        }

        .col:last-child {
            padding-left: 15px !important;
        }
    }
}


@media (max-width: 950px) {
  .game-content-multiroulette .multirouletteCustomHistory {
    left: 10px;
    top: 10px;
    transform: unset !important;
    height: 156px;
  }

}
