@import '../variables';

.nav {
    width: calc(100% + 55px) !important; 
}

.live {
    display: none !important;
}

.pageContent .heading {
    margin: 15px 0;
    padding-left: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
    font-size: 1.3em;
    font-family: IndustryBlack, Open sans-serif;
    position: relative;
}

.contact_us {
    @include themed() {
        border: none;
    }
    border-radius: 8px;
    padding: 10px;
    background: url("/img/misc/carbon.png") repeat, #172327 !important;
    background-size: cover;
    margin-bottom: 10px;
    display: flex;

    .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70px;
        font-size: 2.5em;
        padding-right: 10px;
        @include themed() {
            border-right: 1px solid rgba(t('link'), 0.1);
        }
        margin-right: 15px;
    }
    .desc {
        display: flex;
        flex-direction: column;
    }
}

@include media-breakpoint-down(md) {
    .contact_us {
        display: flex !important;
        width: 100%;
    }
}


.help {
    margin-top: 10px;
    margin-bottom: 10px;

    @include themed() {
        .title {
            background: url("/img/misc/carbon.png") repeat, #172327 !important;
            color: t('text');
            border-radius: 12px;
            padding: 10px 20px;
            font-size: 14px;
            font-family: 'Proxima Nova Semi Bd';
            cursor: pointer;
            box-shadow: 0 3px 6px rgb(0 0 0 / 25%);
            transition: all 0.15s ease-in;

            &:hover {
            color: #fffff;
            }
        }

        .description {
            padding: 0;
            border: 1px solid rgba(t('link-hover'), 0.3);
            border-top: none;
            height: 0;
            opacity: 0;
            visibility: hidden;
        }
    }
}

.help.active {
    @include themed() {
        .title {
            font-family: Proxima Nova Semi Bd;
            color: #ffffff;
            border: 2px solidt('text');
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }

        .description {
            height: auto;
            padding: 15px 20px;
            opacity: 1;
            visibility: visible;
        }
    }
}
